@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green-medium: #81FE88;
    --green-weak: #BFFFC3;
    --green-strong: #132E35;
    --graphite: #01080E;
    --gray-strong: #171D1F;
    --gray-normal: #3E3E3F;
    --gray-medium: #888888;
    --gray-weak: #BCBCBC;
    --off-white: #E1E1E1;
    --white: #FFF;
    --bg-main: #00090E;
}

* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

fieldset {
    border: none;
}

button {
    cursor: pointer;
}
